.thumbnail {
    width: 300px;
    margin:auto;
    object-fit: cover;
    display: block;
}

.search-bar {
    margin: auto;
    font-family:'Times New Roman', Times, serif;
    width: 500px;
    border-radius: 20px;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 0px;
    box-shadow: 2px 2px 5px grey;
    cursor: pointer;
}

.search-bar:hover {
    box-shadow: 3px 3px 5px grey;
}